/*** ISSUES ***

The grid and notifications icons are unfinished. The grid should be gray and turn dark on hover. The notifications icon graphics are very poorly designed. I couldn't figure out the best way to do it.

The positioning of the two submit buttons below the form go outside of the containing div. They look right, but I think there must be a better way to position those two buttons.
	
*/



/*** GENERAL ***/

html {
	height: 100%;
}

body {
	background-color: fff;
	min-width: 980px;
	height: 100%;
	font-family: arial, sans-serif;
	font-size: 13px;
}

#container {
	width: 100%;
	min-height: 100%;
	position: relative;
}

img {
    height: auto;
    max-width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: underline;
}



/*** HEADER SECTION ***/

header {
	overflow: auto;
	padding-top: 15px;	
	max-width: 1200px;
	margin: 0 auto;
}

nav ul {
	float: right;
}

nav li {
	display: inline-block;
	vertical-align: middle;
	padding-right: 16px;
}

nav li:last-child {
	padding-right: 29px;
}

#user-name {
	color: #666;
}

#grid, #notifications {
	height: 20px;
	width: 20px;
}

#grid {
	background-image: url('../img/grid-icon-small.png');
	background-repeat: no-repeat;
}

#grid:hover, #notifications:hover, #headshot:hover {
	cursor: default;
}

#notifications {
	background-image: url('../img/bell-icon.png');
	background-repeat: no-repeat;
	border-radius: 100%;
	background-position: 4.5px 4.5px;
	background-color: rgba(0, 0, 0, .54902);
}

#notifications:hover {
	background-color: black;
}

#headshot img {
	border-radius: 100%;
}



/*** MAIN SECTION ***/

#main {
	padding: 165px 0 316px 0;
	max-width: 1200px;
	margin: 0 auto;
}

#google-icon {
	width: 270px;
	margin: 0 auto;

}

#search-box-container {
	width: 488px;
	height: 40px;
	margin: 0 auto;
	border: 1px solid #d9d9d9;
}

#search-box-container:hover {
	border-color: #a3a3a3;
}

#search-box-container form {
	float: left;
	width: 430px;
}

#search-box {
	border: none;
	margin: 11px 7px;
	height: 15px;
	width: 430px;
}

#search-button, #lucky-button {
	margin: 0;
	padding: 11px 17px;
	border: 1px solid #f2f2f2;
	background-color: #f3f3f3;
	color: #757575;
	font-weight: bold;
	font-size: 13px;
}

#search-button {
	margin: 31px 5px 0px 105px;
}

#mic-icon {
	float: right;
	height: 24px;
	padding: 9px;
}



/*** FOOTER SECTION ***/

footer {
	background-color: #f2f2f2;
	border-top: 1px solid #e4e4e4;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
	color: #666;
}

#footer-content {
	max-width: 1200px;
	margin: 0 auto;
}

footer ul {
	padding: 15px 30px;
}

footer li {
	display: inline;
	padding-right: 30px;
}

footer li:last-child {
	padding-right: 0;
}

#footer-left {
	float: left;
}

#footer-right {
	float: right;
}